$icon-angle-left: "\ea01";
$icon-angle-right: "\ea02";
$icon-list: "\ea03";

@font-face {
  font-family: web-boilerplate-icons;
  src: url("../icons/icons.eot");
  src: url("../icons/icons.eot?#iefix") format("embedded-opentype"), url("../icons/icons.woff2") format("woff2"), url("../icons/icons.woff") format("woff"), url("../icons/icons.ttf") format("truetype"), url("../icons/icons.svg#web-boilerplate-icons") format("svg");
  font-style: normal;
  font-weight: 400;
}

%icon {
  display: inline-block;
  transform: translate(0, 0);
  text-rendering: auto;
  font: normal normal 400 14px/1 web-boilerplate-icons;
  font-size: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.icon {
  @extend %icon;
}

.icon-angle-left::before {
  content: $icon-angle-left;
}

.icon-angle-right::before {
  content: $icon-angle-right;
}

.icon-list::before {
  content: $icon-list;
}